.App > h2 {
    position: relative;
  text-align: center;
  margin: 1rem;
}

input[type="checkbox"] {
  margin-left: 1rem;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 140px);
  gap: .5rem;
  text-align: center;
}

.box {
  height: auto;
  border: 1px solid black;
  vertical-align: middle;
}